html
  head
    title= options.title
    link(rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    div#wrapper
      div#sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
          li hey



      h1= options.title


      #test
      #kill
      //- #xy
      div
        label(for='slider') Volume
          span#volumeText 0.5
        input#slider(type='range' min='0' max='1' step='.1')
      div
        label(for='hertz') Hertz
          span#hertzText 500
        input#hertz(type='range' min='0' max='1000' step='10')
      div
        select#shape(name='shape')
          option(value='sine') sine
          option(value='square') square
          option(value='sawtooth') sawtooth
          option(value='triangle') triangle
      div
        a(href="#menu-toggle" class="btn btn-default" id="menu-toggle") Toggle Menu


    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/socket.io-client/socket.io.js')
    script(src='js/display.js')
    script(src='js/main.js')
