html
  head
    title= options.title
    link(rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body(data-room= room)
    div#wrapper.toggled
      div#sidebar-wrapper
        ul.sidebar-nav
          li
            a(href="menu-toggle" class="btn btn-default" class="menu-toggle") Close
          form#chat-form.row
            .form-group
              .input-group
                span(class="input-group-addon" id="name-symbol" aria-hidden="true") U
                input#chat-name(type='text' name='name' placeholder='Name' class='form-control' aria-describedby='name-symbol')
              .input-group
                span(class="input-group-addon" id="text-symbol" aria-hidden="true") C
                input#chat-text(type='text' name='text' placeholder='Chat Text' class='form-control' aria-describedby='text-symbol', autocomplete='off')
              input#chat-submit(type='submit')
          li.sidebar-brand CHAT
          div
            ul#chat-list.list-group


      div#page-content-wrapper(tabindex='0')
        div.container-fluid
          canvas#canvas
          if room
            h1 #{options.title} in "#{room}"
          else
            h1= options.title

          div.input-group
            label(for='slider') Volume
              span#volumeText.updatable-value 0.1
            input#slider(type='range' min='0' max='1' step='.1', value='0.1')
          div.input-group
            label(for='shape') Oscillator 1
            select#shape.form-control(name='shape')
              option(value='sine') sine
              option(value='square') square
              option(value='sawtooth') sawtooth
              option(value='triangle') triangle
          div.input-group
            label(for='detune1') Oscillator 1 Detune
              span#osc1detune.updatable-value 0
            input#detune1(type='range' min='-1200' max='1200')
          div.input-group
            label(for='shape2') Oscillator 2
            select#shape2.form-control(name='shape2')
              option(value='sine') sine
              option(value='square') square
              option(value='sawtooth') sawtooth
              option(value='triangle') triangle
          div.input-group
            label(for='detune2') Oscillator 2 Detune
              span#osc2detune.updatable-value 0
            input#detune2(type='range' min='-1200' max='1200')
          div.input-group
            label(for='tempo') Tempo
            input#tempo(type='number' name='tempo' value='120' min='1' max='999')
          div.row
            table.table.table-bordered.table-condensed
              tr
                th C
                th.black-key C#
                th D
                th.black-key D#
                th E
                th F
                th.black-key F#
                th G
                th.black-key G#
                th A
                th.black-key A#
                th B
                th C
                th.black-key C#
                th D
                th.black-key D#
              tr
                td#key65 A
                td#key87.black-key W
                td#key83 S
                td#key69.black-key E
                td#key68 D
                td#key70 F
                td#key84.black-key T
                td#key71 G
                td#key89.black-key Y
                td#key72 H
                td#key85.black-key U
                td#key74 J
                td#key75 K
                td#key79.black-key O
                td#key76 L
                td#key80.black-key P
          div.row
            .col-sm-3
              a(href="menu-toggle" class="btn btn-default" class="menu-toggle") Toggle Chat
            .col-sm-3
              select#presets.form-control(name='presets')
                option(disabled='disabled' selected='selected' hidden='hidden') Your Presets
            .col-sm-6
              form.form-inline
                .form-group
                  input#new-preset.form-control(type='text', name='new-preset', required)
                  input#save-preset.btn.btn-default(type='submit', value='Save Preset')


    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/socket.io-client/socket.io.js')
    script(src='js/display.js')
    script(src='js/main.js')
    script(src='js/chat.js')
    script(src='js/save.js')
