html
  head
    title= options.title
    link(rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    div#wrapper
      div#sidebar-wrapper
        form#chat-form
          .form-group
            .input-group
              span(class="input-group-addon" id="name-symbol" aria-hidden="true") U
              input#chat-name(type='text' name='name' placeholder='Name' class='form-control' aria-describedby='name-symbol')
            .input-group
              span(class="input-group-addon" id="text-symbol" aria-hidden="true") C
              input#chat-text(type='text' name='text' placeholder='Chat Text' class='form-control' aria-describedby='text-symbol')
            input(type='submit')
        ul.sidebar-nav
          li
            a(href="menu-toggle" class="btn btn-default" class="menu-toggle") Close
          li.sidebar-brand CHAT

          ul#chat-list.list-group
            //- li.chats.list-group-item Anderson: a sample chat


      div#page-content-wrapper(tabindex='0')
        div.container-fluid
          h1= options.title
          //- span= options.users


          //- #test
          //- #kill
          //- #xy
          div.input-group
            label(for='slider') Volume
              span#volumeText.updatable-value 0.5
            input#slider(type='range' min='0' max='1' step='.1')
          //- div.input-group
          //-   label(for='hertz') Hertz
          //-     span#hertzText 500
          //-   input#hertz(type='range' min='0' max='1000' step='10')
          div.input-group
            label(for='shape') Oscillator 1
            select#shape.form-control(name='shape')
              option(value='sine') sine
              option(value='square') square
              option(value='sawtooth') sawtooth
              option(value='triangle') triangle
          div.input-group
            label(for='detune1') Oscillator 1 Detune
              span#osc1detune.updatable-value 0
            input#detune1(type='range' min='-1200' max='1200')
          div.input-group
            label(for='shape2') Oscillator 2
            select#shape2.form-control(name='shape')
              option(value='sine') sine
              option(value='square') square
              option(value='sawtooth') sawtooth
              option(value='triangle') triangle
          div.input-group
            label(for='detune2') Oscillator 2 Detune
              span#osc2detune.updatable-value 0
            input#detune2(type='range' min='-1200' max='1200')
          div.input-group
            label(for='tempo') Tempo
            input#tempo(type='number' name='tempo' value='120' min='1' max='999')
          div.row
            table.table.table-bordered.table-condensed
              tr
                th C
                th.black-key C#
                th D
                th.black-key D#
                th E
                th F
                th.black-key F#
                th G
                th.black-key G#
                th A
                th.black-key A#
                th B
                th C
                th.black-key C#
                th D
                th.black-key D#
              tr
                td A
                td.black-key W
                td S
                td.black-key E
                td D
                td F
                td.black-key T
                td G
                td.black-key Y
                td H
                td.black-key U
                td J
                td K
                td.black-key O
                td L
                td.black-key P
          div
            a(href="menu-toggle" class="btn btn-default" class="menu-toggle") Toggle Chat


    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/socket.io-client/socket.io.js')
    script(src='js/display.js')
    script(src='js/main.js')
    script(src='js/chat.js')
