html
  head
    title= options.title
    link(rel='stylesheet' href='css/style.css')
  body

    h1= options.title


    #test
    input#slider(type='range' min='0' max='10')

    script(src='js/main.js')
